<section class="sevices  service-style-2 ">
    <div class="container">
        <div class="z-sec">
            <div class="service-2">
                <div class="tagline-title af bf">
                        <span>{{content.field_tagline.0}}</span>
                        <h2>{{content.field_title.0}}</h2>
                    </div>
                    {{content.field_view.0}}
                </div>
            </div> 
        </div>    
    </div>
</section>