{% if next_url or end_text %}
  <nav class="pager pager--load-more" role="navigation" aria-labelledby="pagination-heading">
    <h4 id="pagination-heading" class="visually-hidden">{{ 'Pagination'|t }}</h4>
    {% if next_url %}
      <ul class="pager__items js-pager__items custom__loadmore list-unstyled">
        <li class="pager__item">
          <a href="{{ next_url }}">{{ more_button_text }}
            <svg xmlns="http://www.w3.org/2000/svg" width="150" height="44" viewBox="0 0 150 44">
              <path  data-name="Path 40738" d="M44,24.431,23.919,0,0,24.431H19.489V150h7.087V24.431Z" transform="translate(150) rotate(90)" fill="#1b1f29" fill-rule="evenodd"/>
            </svg>
          </a>
        </li>
      </ul>
    {% elseif end_text %}
      <div class="pager__items pager__items--end">
        {{ end_text }}
      </div>
    {% endif %}
  </nav>
{% endif %}
