/**
 *
 * Font definitions
 *
 * Should contain definitions for all font-families used on the site
 *
 */

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Regular.ttf'); /* Pretty Modern Browsers */
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Bold.ttf'); /* Pretty Modern Browsers */
  font-weight: bold;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Italic.ttf'); /* Pretty Modern Browsers */
  font-style: italic;
}