/**
 *
 * Stylesheet import
 *
 */


// Include base
@import "base/_vars";
@import "base/_base";
@import "base/_normalize";
@import "base/_mixins";
@import "base/icon";

// Include assets
@import "assets/flexbox";

// Layout
@import "layout/layout";

// Components
@import "components/itk-boxlist";
@import "components/itk-messages";

// Modules
@import "modules/button";
@import "modules/nav";
@import "modules/header";
@import "modules/overlay";
@import "modules/hamburger-menu";
@import "modules/frontpage";
@import "modules/content";
@import "modules/pager";
@import "modules/cookies";
@import "modules/footer";
@import "modules/paragraphs";
@import "modules/video";
@import "modules/instagram-block";
