/*
** Customization of theme css
*/

/* Import Source Sans font*/
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;900&display=swap");

/* Override variabels */
:root {
  --cfia-background-color: oklch(95.94% 0.016 99);
  --cfia-primary-color: var(--bs-primary);
  --cfia-primary-color-light: oklch(89.04% 0.037 163.15);
  --cfia-primary-color-dark: oklch(34.12% 0.034 186.76);
  --cfia-secondary-color: var(--bs-secondary);
  --paragraph-text-color: var(--bs-primary);
  --heading-text-color: var(--bs-primary);
  --cfia-font-family: "Source Sans 3", sans-serif;
  --cfia-font-weight-regular: 400;
  --cfia-font-weight-bold: 900;
  --heading-font: var(--cfia-font-family);
  --paragraph-font: var(--cfia-font-family);
  --menu-font: var(--cfia-font-family);
  --cfia-spacer: 1rem;

}

/* Change header behavior */
#header-4 .nav-sticky::after {
  display: none;
}

#header-4 .nav-sticky.header-fixed .navbar-brand img {
  filter: invert(1);
}

#header-4 .nav-link {
  font-weight: var(--cfia-font-weight-regular);
}

/* Change footer text color */
.footer-block .content p,
.footer-block .content a {
  color: white;
}

body {
  background-color: var(--cfia-background-color);
  font-weight: var(--cfia-font-weight-regular);
}

/* Font styles */
strong, b, h1, h2, h3, h4, h5 {
  font-weight: var(--cfia-font-weight-bold);
}

/* Images */
img {
  max-width: 100%;
}

/* Reset z-sec */
.z-sec {
  padding: 0;
  padding-top: calc(var(--cfia-spacer) * 3) !important;
  padding-bottom: calc(var(--cfia-spacer) * 3) !important;
}

/* Link styles */
a, .link {
  color: var(--cfia-secondary-color);
}

a:hover, .link:hover {
  color: var(--cfia-primary-color);
  text-decoration: underline;
}

.cases-title a,
.portfolio-title a,
.portfolio-title a:hover h4,
.blog-title,
.read a {
  text-transform: none;
  color: var(--cfia-primary-color);
}

.cases-title a:hover,
.portfolio-title a:hover {
  text-decoration: underline;
}

/* Color changes */
.blog-2-items::after {
  background-color: var(--cfia-background-color);
}

.footer-block::before {
  background-color: var(--cfia-primary-color);
}

/* Footer add to any icons z-index fix */
.block-addtoany-follow-block {
  z-index: 1;
}


/* Add start padding for main content */
.content < section {
  padding-top: calc(var(--cfia-spacer) * 2);
}

/* Buttons */
.quate-btn-rect {
  width: max-content;
  border-radius: 5px;
}

.quate-btn-rect a {
  width: auto;
  gap: 20px;
  padding-left: 40px;
  padding-right: 40px;
}

.home1-btn {
  margin-top: 0;
}

/* Page banner */
.page-banner {
  height: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.page-banner .heading h1 {
  text-align: center;
  word-break: normal;
}

#page_content.header-4 .page-banner-style-2 .heading {
  padding-top: 80px !important;
}

/* Show colored bullets on lists */
.content-descriptions ul,
.basic-content ul,
.list-wrapper ul {
  list-style: none;
}

.content-descriptions ul li::before,
.basic-content ul li::before,
.list-wrapper ul li::before {
  content: "\2022";
  color: var(--cfia-secondary-color);
  font-weight: bold;
  display: inline-block;
  width: 20px;
  margin-left: -20px;
}

.content-descriptions ul li,
.basic-content ul li {
  display: block;
}

.content-descriptions ul li p,
.basic-content ul li p,
.list-wrapper ul li p{
  display: inline;
}

.content-descriptions li,
.basic-content li {
  font-family: var(--paragraph-font);
  color: var(--paragraph-text-color);
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
}

.content-descriptions li {
  display: list-item;
}

/* Truncate text in blog list */
.blog-content {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* Align texts */
.des-uid {
  align-items: baseline;
}

/* Set services to same height */
.service-wrapper {
  height: 100%;
  margin-bottom: var(--cfia-spacer);
}

/* Service title center text */
.service-1 .service-wrapper h4 {
  text-align: center;
}

/* Highlight background on service grid on hover */
.service-grid-3 .service-wrapper:hover {
  background-color: #fff;
}

/* Services grid spacing*/
.service-style-1 {
  padding-top: calc(var(--cfia-spacer) * 2);
  padding-bottom: calc(var(--cfia-spacer) * 2);
}
.service-style-1 .z-sec {
  border-bottom: 0;
}
.service-style-1 .tagline-title {
  margin-bottom: var(--cfia-spacer);
}

/* Services enlarge icon size */
.service-1 .service-icon svg {
  width: 80px;
  height: 100px;
}

/* Remove negative margin on features */
.features-style-3 .feature-bg {
  margin-top: initial;
}

/* Case styling */

.cases-page .cases-details.z-sec {
  padding-top: 80px;
}

.cases-page .sidebar .block-cfia-caseskategorier {

}


/* Portfolio */
.portfolio-style-2 .container .container ul li:first-of-type {
  padding-left: var(--cfia-spacer);
}

.portfolio .tag-title-btn {
  margin-top: calc(var(--cfia-spacer) * 2);
}

.portfolio .tag-title-btn .quate-btn-rect {
  display: none;
}

.portfolio-style_1 .carousels-1 .carousel-detail {
  padding-bottom: 59px;
}

.portfolio-grid-3 .img-wrapper::before {
  display: none;
}

.portfolio-grid-3 .img-wrapper:hover {
  opacity: 0.85;
}

/* Sidebar */
.sidebar .block {
  padding: 0;
}

.sidebar h2 {
  font-family: var(--paragraph-font);
  font-weight: var(--cfia-font-weight-regular);
  font-size: 21px !important;
  color: var(--cfia-secondary-color) !important;
}

.sidebar-title::before {
  background-color: var(--cfia-secondary-color) !important;
}

.sidebar button.collapsed i {
  display: none;
  /*transform: rotate(180deg);*/
}

.sidebar .collapse:not(.show){
  display: block;
}

/* Blockquotes */
.content-descriptions blockquote {
  margin: 20px 0;
  padding: 20px 20px 20px 15px;
  border-left: 5px solid var(--cfia-primary-color);
}

.content-descriptions blockquote p {
  margin-bottom: 0;
  font-size: large;
}

/* Accordion */
.accordion-style {
  background-color: transparent;
}

.accordion-style p,
.accordion-style ul,
.accordion-style h3 {
  color: var(--cfia-background-color);
}

.accordion-style .content,
.accordion-style .content .card {
  background-color: var(--cfia-primary-color);
}

/* Node term item */
.node-term-item {
  --transition-timing: .4s;
  --transition-ease: ease-in-out;
}

.node-term-item a img{
  transform: scale(1);
  transition: transform var(--transition-timing) var(--transition-ease);
}

.node-term-item .image-wrapper {
  height: 240px;
  overflow: hidden;
}

.node-term-item .image-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.node-term-item a:hover img {
  transform: scale(1.1);
  transition: transform var(--transition-timing) var(--transition-ease);
}
.node-term-item a:hover .categories,
.node-term-item a:hover .title {
  color: var(--cfia-primary-color-dark);
  transition: color var(--transition-timing) var(--transition-ease);
}

.field__label {
  color: var(--cfia-primary-color);
  font-weight: var(--cfia-font-weight-bold);
}

/* Testemonial carousel */
.testimonial-style-5 .z-sec {
  padding-top: calc(var(--cfia-spacer) * 3)
}


/* Hide/remove unwanted elements*/
.case-items .read,
.home-slide4 .slide-details,
.cases .img-wrapper:hover .svg-wrapp,
.cases .img-wrapper:hover::before,
.portfolio-grid-3 .img-wrapper .svg-wrapp:hover,
.portfolio-grid-3 .img-wrapper:hover .svg-wrapp {
  display: none;
}

.features-style-3 .feature-bg,
.features-style-3 .feature-bg::before {
  background: none;
}

/* svg stroke class */
.cls {
  stroke-width: 0px;
}

@media only screen and (max-width: 600px) {
  .page-banner .breadcrumb {
    text-align: center;
  }

  .page-banner .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
    float: none;
  }

  .footer-wrapper img {
    max-height: 10vh;
    width: auto;
  }

  .sidebar button.collapsed i {
    display: block;
    transform: rotate(180deg);
  }

  .sidebar .collapse:not(.show){
    display: none;
  }
}
