<div class="col-md-6 col-lg-4 mb-3 mb-md-0">
    <div class="service-wrapper">
        <div class="service-icon">
            {{fields.field_svg_icon.content}}
        </div>
        <a href="{{fields.view_node.content}}">
            <h4>{{fields.title.content}}</h4>
        </a>
        <div class="service-content">
            <p>{{fields.body.content}}</p>
        </div>
    </div>
</div>
