{% set base_url = url('<front>') %}
<form action="{{base_url}}search/node" method="get">
    <input type="text" placeholder="Search Here..." name="keys">
    <button type="submit">
        <svg xmlns="http://www.w3.org/2000/svg" width="43.191" height="43.192" viewBox="0 0 43.191 43.192">
            <path id="Icon_ionic-ios-search" data-name="Icon ionic-ios-search" d="M47.185,44.559,35.173,32.437a17.12,17.12,0,1,0-2.6,2.631L44.508,47.111a1.849,1.849,0,0,0,2.609.067A1.86,1.86,0,0,0,47.185,44.559ZM21.72,35.214a13.516,13.516,0,1,1,9.561-3.958A13.436,13.436,0,0,1,21.72,35.214Z" transform="translate(-4.5 -4.493)"></path>
        </svg>
    </button>
</form>