<section class="accordion-style elements">
  <div class="container">
      <h2>{{ paragraph.field_title.value }}</h2>
      <div class="accordion-block">
          <div id="accordion2" class="accordion2">
              {{content.field_widget}}
          </div>
      </div>
  </div>
</section>
