<div class="listing-section">
  <div class="container">
    <div class="row">
      <div class="col basic-content">
        <h2>{{ paragraph.field_title.value }}</h2>
      </div>
    </div>
  </div>
  {{content.field_view.0}}
</div>
