<div class="cases-cards-row my-3 my-md-5">
  <div class="container">
    <div class="row">
      <div class="col basic-content">
        <h2>{{ paragraph.field_title.value }}</h2>
      </div>
    </div>
    <div class="row">
      {{content.field_reference_cases}}
    </div>
    <div class="row">
      <div class="quate-btn-rect home1-btn">
        {{content.field_link}}
      </div>
    </div>
  </div>
</div>
