<div class="masonry-portfolio masonry-1">
    <div class="container">
        <div class="row row-mr filter-item filtering">
          {% for row in rows %}
           {{row.content}}
         {% endfor %}
        </div>
    </div>
</div>