<section class="carousels">
    <div class="carousel1">
        <div class="owl-carousel carousels-1 owl-theme">
            {% for row in rows %}
                {{row.content}}
            {% endfor %}
        </div>
    </div>
</section>
               