

<section class="blogs blog-style-4 z-sec">
    <div class="container">
        <div class="section_title">
            <h2>{{content.field_title.0}}</h2>
        </div>
        <div class="blog-3">
            {{content.field_view.0}}
        </div> 
         <div class="get-quate-btn home4-btn mr">
            <a class=" btn-custom btn-lg" href="{{content.field_link.0['#url']}}">
                {{content.field_link.0['#title']}}
                <svg xmlns="http://www.w3.org/2000/svg" width="150" height="44" viewBox="0 0 150 44">
                <path data-name="Path 40738" d="M44,24.431,23.919,0,0,24.431H19.489V150h7.087V24.431Z" transform="translate(150) rotate(90)" fill="#1b1f29" fill-rule="evenodd"></path>
                </svg>
            </a>
        </div> 
    </div>
</section>