/**
 *
 * IE 9 styles
 *
 */
body {
  padding-bottom: 9em; }

.nav--links,
.nav.is-sticky--links {
  display: block; }

.nav--link,
.nav.is-sticky--link {
  display: inline-block; }

.itk-boxlist--item,
.itk-boxlist-news--item,
.itk-boxlist-events--item {
  float: left;
  padding: 1em;
  width: 100%; }
  .itk-boxlist--item header,
  .itk-boxlist--item figure,
  .itk-boxlist-news--item header,
  .itk-boxlist-news--item figure,
  .itk-boxlist-events--item header,
  .itk-boxlist-events--item figure {
    float: left; }
  .itk-boxlist--item header,
  .itk-boxlist-news--item header,
  .itk-boxlist-events--item header {
    width: 75%; }
  .itk-boxlist--item figure,
  .itk-boxlist-news--item figure,
  .itk-boxlist-events--item figure {
    width: 20%; }

.itk-boxlist--icon img,
.itk-boxlist-news--icon img,
.itk-boxlist-events--icon img {
  max-width: 1em;
  padding-bottom: .25em; }

.itk-boxlist-column--item {
  float: left;
  width: 33%; }

.instagram-gallery {
  margin-bottom: 7em; }
  .instagram-gallery figure {
    float: left;
    margin-right: 2em;
    width: 33%; }

.button,
.button:link,
.button:visited {
  display: inline-block; }
  .button.is-block,
  .button:link.is-block,
  .button:visited.is-block {
    display: inline-block; }

.footer--mail {
  float: left; }

.footer--social {
  float: right; }

.footer--icons {
  float: left; }

.footer--aarhus {
  padding-right: 1em;
  float: left; }
