/**
 *
 * Stylesheet import
 *
 */
/**
 *
 * Variables
 *
 */
/* Breakpoints
   ================================================================================================================== */
/* Layout
   ================================================================================================================== */
/* Elements
   ================================================================================================================== */
/* Colors
   ================================================================================================================== */
/* Typography
   ================================================================================================================== */
/**
 *
 * Base
 *
 * Contains styling and reset of basic elements
 *
 */
html {
  height: 100%; }

body {
  background-color: #fff;
  color: #666666;
  display: flex;
  font: 1em/1.5 "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  flex-direction: column;
  height: 100%;
  margin: 0;
  position: relative;
  width: 100%; }

html.is-locked,
body.is-locked {
  position: fixed;
  overflow: hidden; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: .5em;
  font-weight: normal;
  /* This fixes huge spaces when a heading wraps onto two lines */
  line-height: 1.2;
  /* Voodoo to enable ligatures and kerning */
  text-rendering: optimizeLegibility; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }
  em strong {
    font-weight: bold; }

/* Links
   ================================================================================================================== */
a:link {
  color: #009b92;
  text-decoration: underline; }

a:visited {
  color: #00827a; }

a:hover {
  color: #006862;
  text-decoration: none; }

a:focus {
  color: #006862; }

/* Paragraph
   ================================================================================================================== */
p {
  margin-top: 0;
  margin-bottom: 1.2em; }

/* Image
   ================================================================================================================== */
img {
  display: inline;
  height: auto;
  max-width: 100%;
  width: 100%;
  vertical-align: bottom; }

/* Blockquote
   ================================================================================================================== */
blockquote {
  font-size: 1.4em;
  font-style: italic;
  margin-left: 0;
  padding-left: 3em;
  position: relative; }
  blockquote:before {
    content: url("../templates/svgs/quote.svg");
    position: absolute;
    left: 0;
    top: 0; }

/**
 *
 * Normalize
 *
 * Normalize.css v2.1.2 | MIT License | git.io/normalize
 *
 */
/* HTML5 display definitions
   ================================================================================================================== */
/* Correct `block` display not defined in IE 8/9. */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/* Correct `inline-block` display not defined in IE 8/9. */
audio,
canvas,
video {
  display: inline-block; }

/* Prevent modern browsers from displaying `audio` without controls. */
/* Remove excess height in iOS 5 devices. */
audio:not([controls]) {
  display: none;
  height: 0; }

/* Address styling not present in IE 8/9. */
[hidden] {
  display: none; }

/* Base
   ================================================================================================================== */
/* 1. Set default fontello family to sans-serif. */
/* 2. Prevent iOS text size adjust after orientation change, without disabling user zoom. */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Remove default margin. */
body {
  margin: 0; }

/* Links
   ================================================================================================================== */
/* Address `outline` inconsistency between Chrome and other browsers. */
a:focus {
  outline: thin dotted; }

/* Improve readability when focused and also mouse hovered in all browsers. */
a:active,
a:hover {
  outline: 0; }

/* Typography
   ================================================================================================================== */
/* Address variable `h1` fontello-size and margin within `section` and `article` */
/* contexts in Firefox 4+, Safari 5, and Chrome. */
h1 {
  font-size: 2em; }

/* Address styling not present in IE 8/9, Safari 5, and Chrome. */
abbr[title] {
  border-bottom: 1px dotted; }

/* Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome. */
b,
strong {
  font-weight: bold; }

/* Address styling not present in Safari 5 and Chrome. */
dfn {
  font-style: italic; }

/* Address differences between Firefox and other browsers. */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/* Address styling not present in IE 8/9. */
mark {
  background: #ff0;
  color: #000; }

/* Correct fontello family set oddly in Safari 5 and Chrome. */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers. */
pre {
  white-space: pre-wrap; }

/* Set consistent quote types. */
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

/* Address inconsistent and variable fontello size in all browsers. */
small {
  font-size: 80%; }

/* Prevent `sub` and `sup` affecting `line-height` in all browsers. */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ================================================================================================================== */
/* Remove border when inside `a` element in IE 8/9. */
img {
  border: 0; }

/* Correct overflow displayed oddly in IE 9. */
svg:not(:root) {
  overflow: hidden; }

/* Figures
   ================================================================================================================== */
/* Address margin not present in IE 8/9 and Safari 5. */
figure {
  margin: 0; }

/* Forms
   ================================================================================================================== */
/* Define consistent border, margin, and padding. */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 1em; }

/* 1. Correct `color` not being inherited in IE 8/9. */
/* 2. Remove padding so people aren't caught out if they zero out fieldsets. */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/* 1. Correct fontello family not being inherited in all browsers. */
/* 2. Correct fontello size not being inherited in all browsers. */
/* 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome. */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */ }

/* Address Firefox 4+ setting `line-height` on `input` using `!important` in */
/* the UA stylesheet. */
button,
input {
  line-height: normal; }

/* Address inconsistent `text-transform` inheritance for `button` and `select`. */
/* All other form control elements do not inherit `text-transform` values. */
/* Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+. */
/* Correct `select` style inheritance in Firefox 4+ and Opera. */
button,
select {
  text-transform: none; }

/* 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio` and `video` controls. */
/* 2. Correct inability to style clickable `input` types in iOS. */
/* 3. Improve usability and consistency of cursor style between image-type `input` and others. */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/* Re-set default cursor for disabled elements. */
button[disabled],
html input[disabled] {
  cursor: default; }

/* 1. Address box sizing set to `content-box` in IE 8/9. */
/* 2. Remove excess padding in IE 8/9. */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/* 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome. */
/* 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome (include `-moz` to future-proof). */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/* Remove inner padding and search cancel button in Safari 5 and Chrome on OS X. */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/* Remove inner padding and border in Firefox 4+. */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* 1. Remove default vertical scrollbar in IE 8/9. */
/* 2. Improve readability and alignment in all browsers. */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* Tables
   ================================================================================================================== */
/* Remove most spacing between table cells. */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/**
 *
 * Global mixins used across multiple modules.
 *
 */
/* Strip all link styles default color of links to inherit.
================================================================================================================== */
/* Breakpoint
================================================================================================================== */
/* Word wrap and ellipsis
 *
 * https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/
================================================================================================================== */
/**
 *
 * SVG icons
 *
 */
.icon--calendar svg {
  height: 1.4em;
  margin-right: .5em;
  vertical-align: top;
  width: 1.2em; }

.icon--calendar.is-gray svg {
  fill: gray; }

.icon--wayfinding svg {
  height: 1.4em;
  margin-right: .5em;
  vertical-align: top;
  width: .9em; }

.icon--wayfinding.is-gray svg {
  fill: gray; }

.icon--clock svg {
  margin-right: .5em;
  height: 1.4em;
  vertical-align: top;
  width: 1.2em; }

.icon--clock.is-gray svg {
  fill: gray; }

/**
 *
 * Layout.
 *
 */
@media only screen and (min-width: 1024px) {
  .is-frontpage .logo {
    top: 5em;
    left: 2em;
    height: 3.5em;
    width: 8em; } }

@media only screen and (min-width: 1500px) {
  .is-frontpage .logo {
    left: 8em;
    height: 13.5em;
    width: 10em; } }

.logo,
.logo.is-sticky {
  position: absolute;
  top: 1.5em;
  left: 1em;
  z-index: 90;
  display: block;
  height: 2.6em;
  width: 6em;
  overflow: hidden; }
  @media only screen and (min-width: 1024px) {
    .logo,
    .logo.is-sticky {
      position: fixed;
      top: 1.3em;
      left: 1em;
      height: 2.2em;
      width: 5em;
      transition: all .35s; } }

.is-page main[role=main] {
  padding-top: 8em; }

main[role=main] {
  flex: 1 0 auto;
  width: 100%;
  margin-bottom: 19em; }
  @media only screen and (min-width: 720px) {
    main[role=main] {
      margin-bottom: 9em; } }
  @media only screen and (min-width: 1024px) {
    main[role=main] {
      margin-bottom: 5em;
      padding-bottom: 3em; } }

.layout--content-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1024px; }

/**
 *
 * ITK box list
 *
 * A component for content boxes
 *
 */
/* Variables
   ========================================================================== */
.itk-boxlist header a:link,
.itk-boxlist-compact header a:link,
.itk-boxlist-column header a:link,
.itk-boxlist-news header a:link,
.itk-boxlist-events header a:link {
  color: #009b92;
  text-decoration: none; }

.itk-boxlist header a:visited,
.itk-boxlist-compact header a:visited,
.itk-boxlist-column header a:visited,
.itk-boxlist-news header a:visited,
.itk-boxlist-events header a:visited {
  color: #009b92;
  text-decoration: none; }

.itk-boxlist header a:hover,
.itk-boxlist-compact header a:hover,
.itk-boxlist-column header a:hover,
.itk-boxlist-news header a:hover,
.itk-boxlist-events header a:hover {
  color: #009b92;
  text-decoration: none; }

.itk-boxlist header a:focus,
.itk-boxlist-compact header a:focus,
.itk-boxlist-column header a:focus,
.itk-boxlist-news header a:focus,
.itk-boxlist-events header a:focus {
  color: #009b92;
  text-decoration: none; }

.itk-boxlist--header,
.itk-boxlist-compact--header,
.itk-boxlist-column--header,
.itk-boxlist-news--header,
.itk-boxlist-events--header {
  margin-bottom: .5em; }

.itk-boxlist--link, .itk-boxlist--link:link, .itk-boxlist--link:visited,
.itk-boxlist-compact--link,
.itk-boxlist-compact--link:link,
.itk-boxlist-compact--link:visited,
.itk-boxlist-column--link,
.itk-boxlist-column--link:link,
.itk-boxlist-column--link:visited,
.itk-boxlist-news--link,
.itk-boxlist-news--link:link,
.itk-boxlist-news--link:visited,
.itk-boxlist-events--link,
.itk-boxlist-events--link:link,
.itk-boxlist-events--link:visited {
  order: 4;
  display: block;
  margin-right: auto;
  margin-left: auto;
  min-width: 75%;
  padding: .5em 1em;
  background-color: transparent;
  border: 1px solid #009b92;
  border-radius: 5em;
  color: #009b92;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
  transition: background-color .5s, border .5s, color .5s; }
  .itk-boxlist--link:hover, .itk-boxlist--link:link:hover, .itk-boxlist--link:visited:hover,
  .itk-boxlist-compact--link:hover,
  .itk-boxlist-compact--link:link:hover,
  .itk-boxlist-compact--link:visited:hover,
  .itk-boxlist-column--link:hover,
  .itk-boxlist-column--link:link:hover,
  .itk-boxlist-column--link:visited:hover,
  .itk-boxlist-news--link:hover,
  .itk-boxlist-news--link:link:hover,
  .itk-boxlist-news--link:visited:hover,
  .itk-boxlist-events--link:hover,
  .itk-boxlist-events--link:link:hover,
  .itk-boxlist-events--link:visited:hover {
    background-color: #009b92;
    border: 1px solid #009b92;
    color: #fff; }
  @media only screen and (min-width: 1024px) {
    .itk-boxlist--link, .itk-boxlist--link:link, .itk-boxlist--link:visited,
    .itk-boxlist-compact--link,
    .itk-boxlist-compact--link:link,
    .itk-boxlist-compact--link:visited,
    .itk-boxlist-column--link,
    .itk-boxlist-column--link:link,
    .itk-boxlist-column--link:visited,
    .itk-boxlist-news--link,
    .itk-boxlist-news--link:link,
    .itk-boxlist-news--link:visited,
    .itk-boxlist-events--link,
    .itk-boxlist-events--link:link,
    .itk-boxlist-events--link:visited {
      max-width: 100%; } }

.itk-boxlist--item,
.itk-boxlist-news--item,
.itk-boxlist-events--item {
  margin-bottom: 3em;
  padding-bottom: 2em; }

@media only screen and (min-width: 481px) {
  .itk-boxlist header,
  .itk-boxlist-news header,
  .itk-boxlist-events header {
    padding-bottom: 1em; } }

.itk-boxlist figure,
.itk-boxlist-news figure,
.itk-boxlist-events figure {
  margin-right: 1em;
  -webkit-flex-basis: 6em;
  -moz-flex-basis: 6em;
  -ms-flex-preferred-size: 6em;
  flex-basis: 6em; }

.itk-boxlist,
.itk-boxlist-compact,
.itk-boxlist-news,
.itk-boxlist-events {
  padding-right: 1em;
  padding-left: 1em; }
  .itk-boxlist--item,
  .itk-boxlist-compact--item,
  .itk-boxlist-news--item,
  .itk-boxlist-events--item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
    -moz-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap; }
    .itk-boxlist--item:not(:last-child),
    .itk-boxlist-compact--item:not(:last-child),
    .itk-boxlist-news--item:not(:last-child),
    .itk-boxlist-events--item:not(:last-child) {
      border-bottom: 1px solid #e6e6e6; }
  .itk-boxlist header,
  .itk-boxlist-compact header,
  .itk-boxlist-news header,
  .itk-boxlist-events header {
    order: 2; }
    @media only screen and (min-width: 481px) {
      .itk-boxlist header,
      .itk-boxlist-compact header,
      .itk-boxlist-news header,
      .itk-boxlist-events header {
        padding-top: 0;
        padding-right: 1em;
        padding-left: 1em;
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -moz-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -webkit-flex-shrink: 1;
        -moz-flex-shrink: 1;
        -ms-flex-negative: 1;
        flex-shrink: 1; } }
  .itk-boxlist figure,
  .itk-boxlist-compact figure,
  .itk-boxlist-news figure,
  .itk-boxlist-events figure {
    order: 1;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0; }
  @media only screen and (min-width: 1500px) {
    .itk-boxlist,
    .itk-boxlist-compact,
    .itk-boxlist-news,
    .itk-boxlist-events {
      margin-right: -6em;
      margin-left: -6em;
      padding-right: 6em;
      padding-bottom: 6em;
      padding-left: 6em; } }

.itk-boxlist-compact--item {
  margin-bottom: 1em;
  padding-bottom: .25em; }

.itk-boxlist-compact header {
  padding-bottom: .5em; }

.itk-boxlist-compact--header {
  margin-bottom: .1em; }

.itk-boxlist-compact figure {
  margin-right: .75em;
  -webkit-flex-basis: 3em;
  -moz-flex-basis: 3em;
  -ms-flex-preferred-size: 3em;
  flex-basis: 3em; }
  @media only screen and (min-width: 481px) {
    .itk-boxlist-compact figure {
      margin-right: .1em; } }

.itk-boxlist-compact p {
  margin-bottom: 0; }

.itk-boxlist-news,
.itk-boxlist-events {
  padding-bottom: 5em; }
  .itk-boxlist-news--item,
  .itk-boxlist-events--item {
    padding-right: 1em;
    padding-left: 1em; }
  .itk-boxlist-news--header-text,
  .itk-boxlist-events--header-text {
    margin-bottom: 1.5em;
    color: gray;
    text-align: center; }
  .itk-boxlist-news--meta, .itk-boxlist-news--meta-wrapper,
  .itk-boxlist-events--meta,
  .itk-boxlist-events--meta-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex; }
  .itk-boxlist-news--meta,
  .itk-boxlist-events--meta {
    margin-bottom: .75em;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap; }
  .itk-boxlist-news--meta-wrapper,
  .itk-boxlist-events--meta-wrapper {
    margin-bottom: .25em;
    -webkit-flex-basis: 100%;
    -moz-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-align-content: center;
    -moz-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center; }
  .itk-boxlist-news--icon,
  .itk-boxlist-events--icon {
    margin-top: .25em;
    padding-bottom: .75em;
    margin-right: .5em;
    opacity: .5;
    -webkit-flex-basis: 1em;
    -moz-flex-basis: 1em;
    -ms-flex-preferred-size: 1em;
    flex-basis: 1em; }
  @media only screen and (min-width: 720px) {
    .itk-boxlist-news--item,
    .itk-boxlist-events--item {
      border: 1px solid #e6e6e6;
      padding-right: 0;
      padding-bottom: 0;
      padding-left: 0; }
      .itk-boxlist-news--item.itk-boxlist-news--passed,
      .itk-boxlist-events--item.itk-boxlist-news--passed {
        opacity: .4; }
    .itk-boxlist-news header,
    .itk-boxlist-events header {
      padding-top: 1.5em;
      padding-left: 0; }
    .itk-boxlist-news figure,
    .itk-boxlist-events figure {
      display: block;
      margin-right: 1.5em;
      margin-left: 0;
      -webkit-flex-basis: 14em;
      -moz-flex-basis: 14em;
      -ms-flex-preferred-size: 14em;
      flex-basis: 14em; } }

.itk-boxlist-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center; }
  @media only screen and (min-width: 720px) {
    .itk-boxlist-column {
      margin-bottom: 4em; } }
  @media only screen and (min-width: 1024px) {
    .itk-boxlist-column {
      margin-right: -1.5em;
      margin-left: -1.5em; } }
  .itk-boxlist-column--item {
    margin-bottom: 4em;
    padding-top: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column;
    -moz-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-flex-basis: 40%;
    -moz-flex-basis: 40%;
    -ms-flex-preferred-size: 40%;
    flex-basis: 40%; }
    .itk-boxlist-column--item header {
      order: 1;
      font-size: .75em;
      text-align: center;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 auto;
      -moz-box-flex: 0;
      -moz-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto; }
    .itk-boxlist-column--item figure {
      display: block;
      margin-top: 1.25em;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 1em;
      max-width: 5em;
      width: 100%;
      /* Psst... IE 11 please center the element. Thanks. */
      order: 2;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 auto;
      -moz-box-flex: 0;
      -moz-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto; }
    .itk-boxlist-column--item p {
      min-height: 3em;
      margin-bottom: 1.75em;
      text-align: center;
      order: 3;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 auto;
      -moz-box-flex: 0;
      -moz-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto; }
    @media only screen and (min-width: 481px) {
      .itk-boxlist-column--item {
        padding-top: 0;
        padding-bottom: 0; }
        .itk-boxlist-column--item header {
          text-align: center;
          text-transform: uppercase; }
          .itk-boxlist-column--item header h2 {
            margin-bottom: 0;
            font-weight: 300; }
        .itk-boxlist-column--item figure {
          max-width: 10em; } }
    @media only screen and (min-width: 720px) {
      .itk-boxlist-column--item {
        -webkit-flex-basis: 45%;
        -moz-flex-basis: 45%;
        -ms-flex-preferred-size: 45%;
        flex-basis: 45%; } }
    @media only screen and (min-width: 1024px) {
      .itk-boxlist-column--item {
        box-sizing: border-box;
        padding-right: 1.5em;
        padding-left: 1.5em;
        -webkit-flex-basis: 33%;
        -moz-flex-basis: 33%;
        -ms-flex-preferred-size: 33%;
        flex-basis: 33%; } }

.itk-boxlist-gallery {
  margin-right: 1em;
  margin-left: 1em;
  margin-top: 3em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between; }
  @media only screen and (min-width: 720px) {
    .itk-boxlist-gallery {
      margin-bottom: 4em; } }
  .itk-boxlist-gallery--item {
    margin-bottom: 4em;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column;
    -moz-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-flex-basis: 40%;
    -moz-flex-basis: 40%;
    -ms-flex-preferred-size: 40%;
    flex-basis: 40%; }
    .itk-boxlist-gallery--item header {
      order: 1;
      font-size: .75em;
      text-align: center; }
      .itk-boxlist-gallery--item header a:link {
        color: #ffde06;
        text-decoration: none; }
      .itk-boxlist-gallery--item header a:visited {
        color: #ffde06;
        text-decoration: none; }
      .itk-boxlist-gallery--item header a:hover {
        color: #ffde06;
        text-decoration: none; }
      .itk-boxlist-gallery--item header a:focus {
        color: #ffde06;
        text-decoration: none; }
    .itk-boxlist-gallery--item figure {
      display: block;
      margin-top: 1.25em;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 1em;
      max-width: 5em;
      order: 2; }
    .itk-boxlist-gallery--item p {
      min-height: 3em;
      margin-bottom: 1.75em;
      text-align: center;
      order: 3; }
    @media only screen and (min-width: 481px) {
      .itk-boxlist-gallery--item {
        padding-top: 0;
        padding-bottom: 0; }
        .itk-boxlist-gallery--item header {
          text-align: center;
          text-transform: uppercase; }
          .itk-boxlist-gallery--item header h2 {
            margin-bottom: 0;
            font-weight: 300; }
        .itk-boxlist-gallery--item figure {
          max-width: 6em; } }
    @media only screen and (min-width: 720px) {
      .itk-boxlist-gallery--item {
        -webkit-flex-basis: 45%;
        -moz-flex-basis: 45%;
        -ms-flex-preferred-size: 45%;
        flex-basis: 45%; } }
    @media only screen and (min-width: 1024px) {
      .itk-boxlist-gallery--item {
        -webkit-flex-basis: 30%;
        -moz-flex-basis: 30%;
        -ms-flex-preferred-size: 30%;
        flex-basis: 30%; } }
  .itk-boxlist-gallery--link, .itk-boxlist-gallery--link:link, .itk-boxlist-gallery--link:visited {
    order: 4;
    display: block;
    margin-right: auto;
    margin-left: auto;
    min-width: 75%;
    padding: .5em 1em;
    background-color: transparent;
    border: 1px solid #009b92;
    border-radius: 5em;
    color: #009b92;
    font-weight: 300;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
    transition: background-color .5s, border .5s, color .5s; }
    .itk-boxlist-gallery--link:hover, .itk-boxlist-gallery--link:link:hover, .itk-boxlist-gallery--link:visited:hover {
      background-color: #009b92;
      border: 1px solid #009b92;
      color: #fff; }
    @media only screen and (min-width: 1024px) {
      .itk-boxlist-gallery--link, .itk-boxlist-gallery--link:link, .itk-boxlist-gallery--link:visited {
        max-width: 100%; } }

/**
 *
 * ITK messages
 *
 * A component for displaying messages
 *
 */
/* Variables
   ========================================================================== */
/* Styles
   ========================================================================== */
.itk-message {
  margin: 0 auto 1em;
  max-width: 1024px; }

.itk-message--inner {
  border-radius: .75em;
  padding: 1em;
  background-color: #f1f1f1;
  border: 1px solid #b1b1b1;
  color: #727272; }
  .itk-message--inner.is-info {
    background-color: #dff2bf;
    border: 1px solid #aadc55;
    color: #68941e; }
  .itk-message--inner.is-warning {
    background-color: #feefb3;
    border: 1px solid #fcd535;
    color: #b08d02; }
  .itk-message--inner.is-error {
    background-color: #ffbaba;
    border: 1px solid #ff3b3b;
    color: #ba0000; }

/**
 *
 * Buttons.
 *
 */
.button,
.button:link,
.button:visited {
  display: inline-block;
  padding: .5em 1.5em;
  background-color: transparent;
  border: 1px solid #009b92;
  border-radius: 1em;
  color: #009b92;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
  transition: background-color .5s, border .5s, color .5s; }
  .button:hover,
  .button:link:hover,
  .button:visited:hover {
    background-color: #009b92;
    border: 1px solid #009b92;
    color: #fff; }
  .button.is-block,
  .button:link.is-block,
  .button:visited.is-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-width: 95%; }
    @media only screen and (min-width: 1024px) {
      .button.is-block,
      .button:link.is-block,
      .button:visited.is-block {
        max-width: 50%; } }

/**
 *
 * Navigation.
 *
 */
.is-frontpage .nav {
  top: 6.5em;
  right: 0;
  background-color: transparent; }

.nav,
.nav.is-sticky {
  top: 0;
  position: absolute;
  z-index: 89;
  height: 5.5em;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  transition: top .35s, right .35s, padding .35s; }
  @media only screen and (min-width: 1024px) {
    .nav,
    .nav.is-sticky {
      position: fixed;
      top: 0;
      right: 0;
      height: auto; } }
  .nav--links,
  .nav.is-sticky--links {
    display: none; }
    @media only screen and (min-width: 1024px) {
      .nav--links,
      .nav.is-sticky--links {
        margin-right: 6em;
        font-weight: 300;
        text-align: right;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        -webkit-justify-content: flex-end;
        -moz-justify-content: flex-end;
        justify-content: flex-end; }
        .nav--links a:link,
        .nav.is-sticky--links a:link {
          color: #fff;
          text-decoration: none; }
        .nav--links a:visited,
        .nav.is-sticky--links a:visited {
          color: #fff;
          text-decoration: none; }
        .nav--links a:hover,
        .nav.is-sticky--links a:hover {
          color: #fff;
          text-decoration: none; }
        .nav--links a:focus,
        .nav.is-sticky--links a:focus {
          color: #fff;
          text-decoration: none; } }
  @media only screen and (min-width: 1024px) {
    .nav .nav--link,
    .nav.is-sticky .nav--link {
      margin-top: .75em;
      margin-bottom: .75em;
      padding-top: .5em;
      padding-right: 1.2em;
      padding-bottom: .5em;
      padding-left: 1.2em;
      border-radius: 5em;
      color: white;
      font-size: 1.2em;
      text-decoration: none;
      transition: border 1s, background-color .25s; }
      .nav .nav--link.is-active, .nav .nav--link:hover,
      .nav.is-sticky .nav--link.is-active,
      .nav.is-sticky .nav--link:hover {
        background-color: rgba(0, 0, 0, 0.25); }
        .nav .nav--link.is-active:link, .nav .nav--link:hover:link,
        .nav.is-sticky .nav--link.is-active:link,
        .nav.is-sticky .nav--link:hover:link {
          color: #ffde06;
          text-decoration: none; }
        .nav .nav--link.is-active:visited, .nav .nav--link:hover:visited,
        .nav.is-sticky .nav--link.is-active:visited,
        .nav.is-sticky .nav--link:hover:visited {
          color: #ffde06;
          text-decoration: none; }
        .nav .nav--link.is-active:hover, .nav .nav--link:hover:hover,
        .nav.is-sticky .nav--link.is-active:hover,
        .nav.is-sticky .nav--link:hover:hover {
          color: #ffde06;
          text-decoration: none; }
        .nav .nav--link.is-active:focus, .nav .nav--link:hover:focus,
        .nav.is-sticky .nav--link.is-active:focus,
        .nav.is-sticky .nav--link:hover:focus {
          color: #ffde06;
          text-decoration: none; } }

.nav-toggle {
  position: absolute;
  top: 1.6em;
  right: 2em;
  z-index: 99;
  height: 36px;
  width: 40px;
  transform: rotate(0deg);
  transition: transform .5s ease-in-out;
  cursor: pointer; }
  @media only screen and (min-width: 1024px) {
    .nav-toggle {
      top: 1.2em; } }
  @media only screen and (min-width: 1024px) {
    .nav-toggle {
      position: fixed; } }

.nav-toggle span {
  position: absolute;
  left: 0;
  display: block;
  height: 5px;
  width: 100%;
  background: #fff;
  opacity: 1;
  transform: rotate(0deg);
  transition: .25s ease-in-out; }

.nav-toggle span:nth-child(1) {
  top: 0px; }

.nav-toggle span:nth-child(2),
.nav-toggle span:nth-child(3) {
  top: 15px; }

.nav-toggle span:nth-child(4) {
  top: 30px; }

.nav-toggle.open span:nth-child(1) {
  top: 15px;
  left: 50%;
  width: 0%; }

.nav-toggle.open span:nth-child(2) {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg); }

.nav-toggle.open span:nth-child(3) {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg); }

.nav-toggle.open span:nth-child(4) {
  top: 15px;
  width: 0%;
  left: 50%; }

/**
 *
 * Header.
 *
 */
.header {
  position: relative;
  flex: 1 0 auto;
  margin-bottom: 1em;
  width: 100%;
  background: url("../images/header-background.jpg");
  background-size: cover;
  color: #fff; }
  @media only screen and (min-width: 720px) {
    .header {
      margin-bottom: 4em; } }
  .header--inner {
    box-sizing: border-box;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 5.75em;
    padding-right: 1em;
    padding-bottom: 1.75em;
    padding-left: 1em;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center; }
    @media only screen and (min-width: 720px) {
      .header--inner {
        padding-right: 8em;
        padding-bottom: 4em;
        padding-left: 8em; } }
    @media only screen and (min-width: 1024px) {
      .header--inner {
        max-width: 1024px;
        padding-top: 12em;
        padding-right: 1.8em;
        padding-bottom: 6em;
        padding-left: 1.8em; } }
  .header--big {
    margin-bottom: .5em;
    font-size: 1.75em;
    font-weight: 600; }
    @media only screen and (min-width: 1024px) {
      .header--big {
        font-size: 2.5em; } }
    @media only screen and (min-width: 1500px) {
      .header--big {
        font-size: 3.5em; } }
  .header--lead a:link, .header--lead a:visited, .header--lead a:active, .header--sub a:link, .header--sub a:visited, .header--sub a:active {
    color: #ffde06;
    text-decoration: underline; }
  .header--lead a:hover, .header--sub a:hover {
    color: #ffde06;
    text-decoration: none; }
  .header--lead {
    margin-bottom: 1em;
    font-size: 1.25em;
    font-weight: 600; }
    @media only screen and (min-width: 1024px) {
      .header--lead {
        font-size: 1.5em; } }
    @media only screen and (min-width: 1500px) {
      .header--lead {
        font-size: 1.75em; } }
  .header--sub {
    margin-bottom: 2em;
    font-weight: 300; }
    @media only screen and (min-width: 1024px) {
      .header--sub {
        font-size: 1.25em; } }
    @media only screen and (min-width: 1500px) {
      .header--sub {
        font-size: 1.5em; } }
  .header--button-wrapper {
    text-align: center; }
  .header--button-link {
    box-sizing: border-box;
    display: inline-block;
    width: 10em;
    margin-right: 1em;
    margin-left: 1em;
    padding-top: .5em;
    padding-bottom: .5em;
    background-color: transparent;
    border: 2px solid #ffde06;
    color: #ffde06;
    border-radius: 30px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    transition: background-color .5s, border .5s, color .5s; }
    .header--button-link:link, .header--button-link:visited, .header--button-link:active {
      color: #ffde06;
      text-decoration: none; }
    .header--button-link:hover {
      background-color: #ffde06;
      border: 2px solid #ffde06;
      color: #534800; }
    @media only screen and (min-width: 1024px) {
      .header--button-link {
        font-size: 1.5em; } }

/**
 *
 * Overlay
 *
 */
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  opacity: 0.85;
  z-index: 97;
  width: 100%;
  height: 100%;
  visibility: hidden; }
  .overlay.is-visible {
    visibility: visible;
    transition: background 0.3s;
    cursor: pointer;
    background-color: #000; }

/**
 *
 * Hamburger menu
 *
 */
.hamburger-menu {
  position: fixed;
  top: 0;
  right: -30em;
  bottom: 0;
  margin-right: 0;
  max-width: 90%;
  width: 30em;
  z-index: 98;
  overflow: hidden;
  background-color: #009b92;
  transition: right 0.3s;
  transition-timing-function: ease-in-out; }
  .hamburger-menu.is-open {
    right: 0; }
  .hamburger-menu--inner {
    height: 100%;
    overflow-y: scroll; }
  .hamburger-menu--links {
    padding-top: 5em;
    padding-right: 2em;
    padding-left: 2em; }
    .hamburger-menu--links a:link {
      color: #fff;
      text-decoration: none; }
    .hamburger-menu--links a:visited {
      color: #fff;
      text-decoration: none; }
    .hamburger-menu--links a:hover {
      color: #fff;
      text-decoration: none; }
    .hamburger-menu--links a:focus {
      color: #fff;
      text-decoration: none; }
    .hamburger-menu--links a.is-active, .hamburger-menu--links a:hover {
      color: #004f4a; }
    .hamburger-menu--links a.is-sub {
      margin-left: 1em; }
  .hamburger-menu .nav--link {
    display: list-item;
    padding-top: .5em;
    padding-bottom: .5em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    color: white;
    font-size: 1.2em;
    list-style: none;
    text-decoration: none; }
    .hamburger-menu .nav--link:last-child {
      border-bottom: 0; }

/**
 *
 * Frontpage.
 *
 */
.frontpage--header {
  margin-bottom: .5em;
  color: gray;
  font-size: 3em;
  text-align: center; }

/**
 *
 * Content.
 *
 */
.content {
  box-sizing: border-box;
  padding-right: 1em;
  padding-left: 1em;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto; }
  .content--header {
    margin-top: .5em;
    margin-left: -.075em;
    color: #666666;
    font-size: 2.5em;
    font-weight: 300; }
  .content--meta {
    margin-top: -.5em;
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid #e6e6e6;
    font-weight: 300; }
  .content--image-wrapper {
    margin-top: -2.5em;
    margin-right: -1em;
    margin-bottom: 2.5em;
    margin-left: -1em; }
    @media only screen and (min-width: 1500px) {
      .content--image-wrapper {
        margin-right: -6em;
        margin-left: -6em; } }
  .content--text {
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 3em; }
    @media only screen and (min-width: 1024px) {
      .content--text {
        margin-right: -6em;
        margin-left: -6em;
        padding-right: 6em;
        padding-bottom: 3em;
        padding-left: 6em; } }
  @media only screen and (min-width: 1024px) {
    .content--header {
      font-size: 4em; }
    .content--image-wrapper {
      margin-top: -3.25em; } }
  @media only screen and (min-width: 1500px) {
    .content--image-wrapper {
      margin-top: 0; } }

/**
 *
 * Pager
 *
 */
.pager__items {
  margin: 0;
  padding: 0;
  text-align: center; }

.pager__item {
  display: inline-block;
  padding: 0;
  margin: .5em;
  background: #f2f2f2;
  color: #999999; }
  .pager__item:hover {
    background: #009b92; }
  .pager__item a {
    box-sizing: border-box;
    display: block;
    height: 100%;
    padding: .5em 1em;
    width: 100%; }
    .pager__item a:link {
      color: #999999;
      text-decoration: none; }
    .pager__item a:visited {
      color: #999999;
      text-decoration: none; }
    .pager__item a:hover {
      color: #999999;
      text-decoration: none; }
    .pager__item a:focus {
      color: #999999;
      text-decoration: none; }
    .pager__item a:hover {
      color: #fff; }
  .pager__item.is-active {
    background: #009b92; }
    .pager__item.is-active a:link {
      color: #f2f2f2;
      text-decoration: none; }
    .pager__item.is-active a:visited {
      color: #f2f2f2;
      text-decoration: none; }
    .pager__item.is-active a:hover {
      color: #f2f2f2;
      text-decoration: none; }
    .pager__item.is-active a:focus {
      color: #f2f2f2;
      text-decoration: none; }
  .pager__item--ellipsis {
    background: none; }

.cookies {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 99;
  border-top: 1px solid #b3b3b3;
  width: 100%;
  background: white; }

.cookies--inner {
  padding: 1em;
  text-align: center; }
  @media only screen and (min-width: 481px) {
    .cookies--inner {
      line-height: 1.5em; } }

.cookies--text {
  display: inline-block;
  margin-right: .5em;
  margin-bottom: .5em; }

.cookies .button {
  cursor: pointer; }

/**
 *
 * Footer
 *
 */
.footer {
  align-self: flex-end;
  background-color: #000;
  flex: 1 0 auto;
  flex-direction: row;
  width: 100%; }
  .footer--content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
    padding-top: 2em;
    padding-right: 1em;
    padding-left: 1em;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap; }
  .footer--mail {
    margin-bottom: 2em;
    text-align: center;
    -webkit-flex-basis: 100%;
    -moz-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%; }
    .footer--mail a {
      color: white; }
  .footer--social {
    margin-bottom: 2em;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-basis: 100%;
    -moz-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -ms-flex-pack: distribute;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    justify-content: space-around; }
  .footer--icons {
    width: 1.8em;
    margin-left: 1em; }
  .footer--aarhus {
    margin-bottom: 2em;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-basis: 100%;
    -moz-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -ms-flex-pack: distribute;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    justify-content: space-around; }
  .footer--logo {
    width: 8em; }
  @media only screen and (min-width: 720px) {
    .footer--mail {
      order: 2;
      text-align: left;
      -webkit-flex-basis: 50%;
      -moz-flex-basis: 50%;
      -ms-flex-preferred-size: 50%;
      flex-basis: 50%; }
    .footer--social, .footer--icons {
      -webkit-flex-basis: 25%;
      -moz-flex-basis: 25%;
      -ms-flex-preferred-size: 25%;
      flex-basis: 25%; }
    .footer--social {
      order: 3;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      align-items: center;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      -webkit-justify-content: flex-end;
      -moz-justify-content: flex-end;
      justify-content: flex-end; }
    .footer--aarhus {
      order: 1;
      -webkit-flex-basis: 25%;
      -moz-flex-basis: 25%;
      -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      -webkit-justify-content: flex-start;
      -moz-justify-content: flex-start;
      justify-content: flex-start; } }
  @media only screen and (min-width: 1024px) {
    .footer--mail {
      text-align: center;
      order: 2;
      -webkit-flex-basis: 50%;
      -moz-flex-basis: 50%;
      -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
      -webkit-align-self: center;
      -moz-align-self: center;
      -ms-flex-item-align: center;
      align-self: center; }
    .footer--social {
      order: 3; }
    .footer--aarhus {
      order: 1;
      margin-top: 0;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      -webkit-justify-content: flex-start;
      -moz-justify-content: flex-start;
      justify-content: flex-start;
      -webkit-flex-basis: 25%;
      -moz-flex-basis: 25%;
      -ms-flex-preferred-size: 25%;
      flex-basis: 25%; } }

/**
 *
 * Fields
 *
 * All fields displayed on nodes and users.
 */
/* Variables related to this document.
================================================================================================================== */
/* Styles
================================================================================================================== */
.paragraphs--internal-link + .paragraphs--internal-link {
  margin-top: 2.8em; }

.paragraphs--text-left, .paragraphs--text-right, .paragraphs--internal-link, .paragraphs--title-paragraph, .paragraphs--youtube, .paragraphs--iframe, .paragraphs--title-only {
  margin-top: 3.5em;
  margin-bottom: 3.5em; }

.paragraphs--title {
  margin-bottom: .5em; }

.paragraphs--title-item {
  font-size: 1.25em; }

.paragraphs--text-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-wrap: no-wrap;
  -moz-flex-wrap: no-wrap;
  -ms-flex-wrap: no-wrap;
  flex-wrap: no-wrap; }

.paragraphs--text-left figure {
  margin-top: .25em;
  margin-left: 1.5em;
  min-width: 5em;
  -webkit-flex-basis: 5em;
  -moz-flex-basis: 5em;
  -ms-flex-preferred-size: 5em;
  flex-basis: 5em;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
  -moz-order: 2;
  -ms-flex-order: 2;
  order: 2; }
  @media only screen and (min-width: 481px) {
    .paragraphs--text-left figure {
      -webkit-flex-basis: 22.5%;
      -moz-flex-basis: 22.5%;
      -ms-flex-preferred-size: 22.5%;
      flex-basis: 22.5%;
      min-width: 22.5%;
      max-width: 22.5%; } }
  @media only screen and (min-width: 1024px) {
    .paragraphs--text-left figure {
      -webkit-flex-basis: 33%;
      -moz-flex-basis: 33%;
      -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
      min-width: 33%;
      max-width: 33%; } }

.paragraphs--text-right {
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 2.5em; }
  .paragraphs--text-right:last-child {
    border: 0; }
  .paragraphs--text-right figure {
    margin-top: .25em;
    margin-right: 1.5em;
    min-width: 5em;
    -webkit-flex-basis: 5em;
    -moz-flex-basis: 5em;
    -ms-flex-preferred-size: 5em;
    flex-basis: 5em;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -moz-order: 1;
    -ms-flex-order: 1;
    order: 1; }
    @media only screen and (min-width: 481px) {
      .paragraphs--text-right figure {
        -webkit-flex-basis: 22.5%;
        -moz-flex-basis: 22.5%;
        -ms-flex-preferred-size: 22.5%;
        flex-basis: 22.5%;
        min-width: 22.5%;
        max-width: 22.5%; } }
    @media only screen and (min-width: 1024px) {
      .paragraphs--text-right figure {
        -webkit-flex-basis: 33%;
        -moz-flex-basis: 33%;
        -ms-flex-preferred-size: 33%;
        flex-basis: 33%;
        min-width: 33%;
        max-width: 33%; } }

.paragraphs--text-left-wrapper {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -moz-order: 1;
  -ms-flex-order: 1;
  order: 1;
  -webkit-flex-shrink: 1;
  -moz-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1; }
  .paragraphs--text-left-wrapper .paragraphs--text > p:last-child {
    margin-bottom: 0; }

.paragraphs--text-right-wrapper {
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
  -moz-order: 2;
  -ms-flex-order: 2;
  order: 2;
  -webkit-flex-shrink: 1;
  -moz-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1; }
  .paragraphs--text-right-wrapper .paragraphs--text > p:last-child {
    margin-bottom: 0; }

.paragraphs--internal-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-wrap: no-wrap;
  -moz-flex-wrap: no-wrap;
  -ms-flex-wrap: no-wrap;
  flex-wrap: no-wrap; }
  .paragraphs--internal-link .figure {
    margin-right: 1em;
    min-width: 56px;
    max-width: 56px;
    -webkit-flex-basis: 5em;
    -moz-flex-basis: 5em;
    -ms-flex-preferred-size: 5em;
    flex-basis: 5em;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -moz-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -moz-order: 1;
    -ms-flex-order: 1;
    order: 1; }
    @media only screen and (min-width: 481px) {
      .paragraphs--internal-link .figure {
        min-width: 112px;
        max-width: 112px; } }
  .paragraphs--internal-link a:first-child:link {
    color: inherit;
    text-decoration: none; }
  .paragraphs--internal-link a:first-child:visited {
    color: inherit;
    text-decoration: none; }
  .paragraphs--internal-link a:first-child:hover {
    color: inherit;
    text-decoration: none; }
  .paragraphs--internal-link a:first-child:focus {
    color: inherit;
    text-decoration: none; }
  .paragraphs--internal-link .paragraphs--text > p:last-child {
    margin-bottom: 0; }
  .paragraphs--internal-link:last-child {
    margin-bottom: 3.5em; }

.paragraphs--internal-link-wrapper {
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
  -moz-order: 2;
  -ms-flex-order: 2;
  order: 2;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 1;
  -moz-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1; }

.paragraphs--title-only {
  font-size: 1.25em;
  margin-bottom: -1.25em; }

.paragraphs--vertical {
  margin: 0 -1em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap; }
  .paragraphs--vertical figure {
    margin-bottom: 1em; }
  .paragraphs--vertical .paragraphs--title {
    font-size: 1.5em;
    margin-bottom: 1em; }
    .paragraphs--vertical .paragraphs--title a:link {
      color: inherit;
      text-decoration: none; }
    .paragraphs--vertical .paragraphs--title a:visited {
      color: inherit;
      text-decoration: none; }
    .paragraphs--vertical .paragraphs--title a:hover {
      color: inherit;
      text-decoration: none; }
    .paragraphs--vertical .paragraphs--title a:focus {
      color: inherit;
      text-decoration: none; }

.paragraphs--vertical-item {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  box-sizing: border-box;
  display: block;
  padding: 0 1em;
  margin-bottom: 3.5em; }
  @media only screen and (min-width: 481px) {
    .paragraphs--vertical-item {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 50%;
      -moz-box-flex: 0;
      -moz-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%; } }
  @media only screen and (min-width: 1024px) {
    .paragraphs--vertical-item {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 33%;
      -moz-box-flex: 0;
      -moz-flex: 0 0 33%;
      -ms-flex: 0 0 33%;
      flex: 0 0 33%;
      max-width: 33%; } }
  .paragraphs--vertical-item.no-bottom-margin {
    margin-bottom: 0; }

/**
 *
 * Video
 *
 * Styling for videos
 */
/* Styles
================================================================================================================== */
.video {
  overflow: hidden;
  position: relative;
  padding-bottom: 56.25%;
  height: 0; }
  .video iframe {
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

/**
 *
 * Instagram block
 *
 */
#block-instagramblock {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between; }
  #block-instagramblock h2 {
    display: block;
    flex: 0 1 100%; }
  #block-instagramblock a.group {
    flex: 0 1 50%;
    margin-bottom: 2%;
    border-radius: 5%;
    overflow: hidden;
    transition: box-shadow .15s ease-in; }
    @media only screen and (min-width: 481px) {
      #block-instagramblock a.group {
        flex: 0 1 32%; } }
    #block-instagramblock a.group:hover {
      box-shadow: 0.3em 0.5em 2em rgba(0, 0, 0, 0.26);
      transition: box-shadow .35s ease-out; }
      #block-instagramblock a.group:hover:after {
        content: attr(alt);
        display: block; }
