<section class="cases z-sec cases-grid-3">
    <div class="container">
        <div class="row ">
            {% for row in rows %}
                {{row.content}}
            {% endfor %}
        </div>
    </div>
</section> 