<section class="masonry2 portfolio-style-4">
    <div class="container">
        <div class="z-sec">
            <div class="section_title">
                <h2>{{content.field_title.0}}</h2>
            </div>
            {{content.field_view.0}}
        </div>    
    </div>    
</section>