<section class="features-style-3 features feature5 z-sec">
    <div class="container">
        <div class="sections-title">
            <h2>{{content.field_title.0}}</h2>
        </div>
        <div class="feature-bg">
            <div class="row">
                {{content.field_widget}}
            </div>
        </div>    
    </div>
</section> 