<section class="features-style-3 features ">
    <div class="container">
        <div class="feature-bg">
            <div class="row">
                {{content.field_widget}}
            </div>
        </div>    
    </div>
</section>                