<div class="carousels testimnials-style-2 page_team2">
    <div class="container">
        <div class="carousel3 ">
            <div class="row">
                {% for row in rows %}
                    {{row.content}}
                {% endfor %}
            </div>    
        </div>
    </div>
</div>
