/**
 *
 * Content.
 *
 */

.content {
  padding-right: 1em;
  padding-left: 1em;

  &--header {
    margin-bottom: .5em;

    color: $gray-darker;
    font-size: 3em;
    font-weight: 300;
  }

  &--image-wrapper {
    margin-top: -2.5em;
    margin-right: -6em;
    margin-bottom: 2.5em;
    margin-left: -6em;
  }

  &--text {
    border-bottom: 1px solid $gray-lighter;

    margin-right: -6em;
    margin-bottom: 3em;
    margin-left: -6em;
    padding-right: 6em;
    padding-bottom: 3em;
    padding-left: 6em;
  }

  @include breakpoint($breakpoint-desk) {
    &--header {
      font-size: 4em;
    }

    &--image-wrapper {
      margin-top: -3.25em;
    }
  }

  @include breakpoint($breakpoint-bigscreen) {
    &--image-wrapper {
      margin-top: 0;
    }
  }
}
