/**
 *
 * Hamburger menu
 *
 */


$hamburger-menu-animation-duration: 0.3s;


.hamburger-menu {
  position: absolute;
  top: 0;
  right: -30em;
  margin-right: 0;
  max-width: 90%;
  width: 30em;
  height: 100%;
  z-index: 98;
  overflow: hidden;

  background-color: $theme-color-secondary;
  border: none;

  transition: right $hamburger-menu-animation-duration;
  transition-timing-function: ease-in-out;

  &.is-open {
    right: 0;
  }

  &--links {
    padding-top: 5em;
    padding-right: 2em;
    padding-left: 2em;

    a {
      @include strip-link-styles(#fff, none);

      &.is-active,
      &:hover {
        color: $link-color-hover;
      }
    }
  }

  &--link {
    display: list-item;
    padding-top: .5em;
    padding-right: 5em;
    padding-bottom: .5em;

    border-bottom: 1px solid transparentize(#fff, .5);
    color: white;
    font-size: 1.2em;
    list-style: none;
    text-decoration: none;

    &:last-child {
      border-bottom: 0;
    }
  }
}
