/**
 *
 * Instagram gallery
 *
 */

.instagram-gallery {
  @extend %auto-margins;

  @include breakpoint($breakpoint-desk) {
    max-width: $breakpoint-desk;
  }

  &--wrapper {
    @include flexbox;
    @include flex-wrap(wrap);
    @include align-items(center);
    @include justify-content(space-between);
  }

  figure {
    margin-bottom: 2.5em;
    max-width: 45%;

    @include align-self(flex-start);
    @include flex-basis(45%);

    @include breakpoint($breakpoint-desk) {
      max-width: 30%;

      @include flex-basis(30%);
    }
  }

  img {
    margin-bottom: .5em;
  }
  
  figcaption {
    color: $gray;
    word-wrap: break-word;
  }
}
