{{content.body.0}}


            {#  <div class="code-block">
                    <pre class="language-markup">
                        <code class="language-html" data-lang="html" id="blockquotes-02">

                        </code><button class="clipboard" data-clipboard-action="copy" data-clipboard-target="#blockquotes-02" tabindex="-1">Copy to clipboard</button>
                    </pre>
                </div>
                     #}

        {# <h2>carousel Style 4</h2>
        <div class="carousel4">
            <div class="owl-carousel carousels-4 owl-theme">
                <div class="item mb-4">
                    <div class="carousel-content-wrapper">
                        <div class="image-wrapper">
                            <img src="../themes/custom/consultancy_plus/assets/theme/img/testimonials/female-colleagues-discussing-data-cafe-outdoor-multiracial-female-persons-analyzing-productive-strategy-business-projecting-using-documents-street-cafe.jpeg" alt="Testimonial-image">
                            <div class="retire-wrapper">
                                <div class="retirement">
                                    <h2>Retirement Advisory</h2>
                                    <div class="retirement-content">
                                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolorem que laudantium totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores
                                    </div>
                                    <div class="read">
                                        <a href="javascript:void(0);" title="blog-details">Read More
                                            <svg xmlns="http://www.w3.org/2000/svg" width="150" height="44" viewBox="0 0 150 44">
                                                <path  data-name="Path 40738" d="M44,24.431,23.919,0,0,24.431H19.489V150h7.087V24.431Z" transform="translate(150) rotate(90)" fill="#1b1f29" fill-rule="evenodd"/>
                                            </svg>
                                        </a>    
                                    </div>
                                </div>
                                <ul class="list-unstyled Advisories">
                                    <li>Retirement Advisory</li>
                                    <li>Investment Advisory</li>
                                    <li>Market Volatility</li>
                                    <li>Mutual Fund</li>
                                    <li>Financial Advisory</li>
                                    <li>Risk Management</li>
                                </ul>
                            </div>    
                        </div>
                    </div>
                </div>
                <div class="item mb-4">
                    <div class="carousel-content-wrapper">
                        <div class="image-wrapper">
                            <img src="../themes/custom/consultancy_plus/assets/theme/img/testimonials/female-colleagues-discussing-data-cafe-outdoor-multiracial-female-persons-analyzing-productive-strategy-business-projecting-using-documents-street-cafe.jpeg" alt="Testimonial-image">
                            <div class="retire-wrapper">
                                <div class="retirement">
                                    <h2>Retirement Advisory</h2>
                                    <div class="retirement-content">
                                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolorem que laudantium totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores
                                    </div>
                                    <div class="read">
                                        <a href="javascript:void(0);" title="blog-details">Read More
                                            <svg xmlns="http://www.w3.org/2000/svg" width="150" height="44" viewBox="0 0 150 44">
                                                <path  data-name="Path 40738" d="M44,24.431,23.919,0,0,24.431H19.489V150h7.087V24.431Z" transform="translate(150) rotate(90)" fill="#1b1f29" fill-rule="evenodd"/>
                                            </svg>
                                        </a>    
                                    </div>
                                </div>
                                <ul class="list-unstyled Advisories">
                                    <li>Retirement Advisory</li>
                                    <li>Investment Advisory</li>
                                    <li>Market Volatility</li>
                                    <li>Mutual Fund</li>
                                    <li>Financial Advisory</li>
                                    <li>Risk Management</li>
                                </ul>
                            </div>    
                        </div>
                    </div>
                </div>
                <div class="item mb-4">
                    <div class="carousel-content-wrapper">
                        <div class="image-wrapper">
                            <img src="../themes/custom/consultancy_plus/assets/theme/img/testimonials/female-colleagues-discussing-data-cafe-outdoor-multiracial-female-persons-analyzing-productive-strategy-business-projecting-using-documents-street-cafe.jpeg" alt="Testimonial-image">
                            <div class="retire-wrapper">
                                <div class="retirement">
                                    <h2>Retirement Advisory</h2>
                                    <div class="retirement-content">
                                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolorem que laudantium totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores
                                    </div>
                                    <div class="read">
                                        <a href="javascript:void(0);" title="blog-details">Read More
                                            <svg xmlns="http://www.w3.org/2000/svg" width="150" height="44" viewBox="0 0 150 44">
                                                <path  data-name="Path 40738" d="M44,24.431,23.919,0,0,24.431H19.489V150h7.087V24.431Z" transform="translate(150) rotate(90)" fill="#1b1f29" fill-rule="evenodd"/>
                                            </svg>
                                        </a>    
                                    </div>
                                </div>
                                <ul class="list-unstyled Advisories">
                                    <li>Retirement Advisory</li>
                                    <li>Investment Advisory</li>
                                    <li>Market Volatility</li>
                                    <li>Mutual Fund</li>
                                    <li>Financial Advisory</li>
                                    <li>Risk Management</li>
                                </ul>
                            </div>    
                        </div>
                    </div>
                </div>
            </div>
        </div>  #}


                
        


                
                                


                              






